body{
  background-image: url("../img/background/typewriter.jpg");
  height:100%;
  background-attachment: fixed;
  font-family: 'Dosis', sans-serif;
  font-size:large;
}
#minhadiv{
  margin-top: 60vh;
}
nav ul li a{
  font-size:x-large
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
